@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('fonts/Inter-roman.var.woff2?v=3.19') format('woff2');
  font-named-instance: 'Regular';
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
  }
}

html {
  background-color: var(--rich-black-fogra);
  color: #fff;
  font-family: 'Inter var';
  font-feature-settings: 'ss01','ss02','ss03','cv01','tnum';
  font-size: 16.5px;
  font-variant: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

body {
  padding: 0;
  margin: 0;
}

a {
  color: var(--green);
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: var(--green-dim);
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'],input[type='range'],input[type='text'] {
  appearance: textfield;
  -moz-appearance: textfield;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  outline: none;
  border: none;
  background-color: transparent;
}

input::placeholder {
  color: var(--dim-gray);
  opacity: 1;
}
input::-ms-input-placeholder{
  color: var(--dim-gray);
}
input:-ms-input-placeholder {
  color: var(--dim-gray);
}

button{
  text-align: center;
  cursor: pointer;
  user-select: none;
  appearance: none;
  -moz-appearance: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  outline: none;
  border: none;
  width: 100%;
}

.no-scrollbar::-webkit-scrollbar{
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
}

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}
